// background colors
$color__background-body:    #cbcbcb;
$color__background-screen:  #f1f1f1;
$color__background-hr:      #ccc;
$color__background-button:  #e6e6e6;
$color__background-pre:     #eee;
$color__background-ins:     #fff9c0;

// dark text colors
$color__text-screen:        #21759b;
$color__text-input:         #666;
$color__text-input-focus:   #111;
$color__text-main:          #303030;
$color__link:               darken( $color__text-main, 10% );
$color__link-visited:       $color__link;
$color__link-hover:         $color__link;

// light text colors
$color__text_light-main:    #e8e8e8;
$color__link_light:         lighten( $color__text_light-main, 10% );
$color__link_light-visited: $color__link_light;
$color__link_light-hover:   $color__link_light;

// border colors
$color__border-button:          #ccc #ccc #bbb;
$color__border-button-hover:    #ccc #bbb #aaa;
$color__border-button-focus:    #aaa #bbb #bbb;
$color__border-input:           #ccc;
$color__border-abbr:            #666;

